Since I found history.csv to be unusable (for several reasons to do with numpy, as well as bite encoding) I must generate my own testing data here, it is somewhat reduntant but will lead to easier control in further testing

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
orig = pd.read_csv('..\\src\\history.csv')

In [19]:
orig.head()

                                               input  target
0  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
1  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
2  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
3  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
4  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40

In [20]:
orig.describe()

            target
count  1500.000000
mean    -70.166667
std      29.490994
min    -110.000000
25%    -100.000000
50%     -70.000000
75%     -50.000000
max       0.000000

In [21]:
# to change encoded byte strings above into
# normal string format
def stringify(enc_str):
    return(enc_str[2:len(enc_str)])

# apply here
orig['input'] = orig['input'].apply(stringify)

In [22]:
orig.head()

                                               input  target
0  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
1  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
2  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
3  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
4  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40

In [23]:
df = orig.drop_duplicates()

In [24]:
df.head()

                                                 input  target
0    rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
25   rnbqkbr1/pppppppp/5n2/8/8/5N2/PPPPPPPP/RNBQKB1...       0
50   rnbqkbr1/pppppppp/5n2/8/8/2N5/PPPPPPPP/R1BQKBN...       0
75   rnbqkbr1/pppppppp/5n2/8/8/N7/PPPPPPPP/R1BQKBNR...     -40
100  rnbqkbr1/pppppppp/5n2/8/8/7P/PPPPPPP1/RNBQKBNR...     -50

In [25]:
df.describe()

           target
count   60.000000
mean   -70.166667
std     29.729952
min   -110.000000
25%   -100.000000
50%    -70.000000
75%    -50.000000
max      0.000000

In [26]:
df.to_csv('data.csv', index = False)