IMPORT DATA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import data from the generated dataset 
# generated in DataBuilding.ipnyb
data = pd.read_csv('test_data1.csv')
data.head()

,b1,b2,b3,b4,b5,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,class
0,0.75,0.25,0.5,0.5,0.5,0.5,0.00,0.75,0.25,0.25,...,1.0,0.5,0.75,0.75,0.75,0.75,0.5,0.0,1.0,0
1,0.75,0.25,0.5,0.5,0.5,0.5,0.00,0.75,0.25,0.25,...,1.0,0.5,0.75,0.75,0.75,0.75,0.5,0.0,1.0,1
2,0.75,0.00,0.5,0.5,0.5,0.5,0.25,0.75,0.25,0.25,...,1.0,0.5,0.75,0.75,0.75,0.75,0.5,0.0,1.0,1
3,0.75,0.00,0.5,0.5,0.5,0.5,0.25,0.75,0.25,0.25,...,1.0,0.5,0.75,0.75,0.75,0.75,0.5,0.0,1.0,1
4,0.75,0.25,0.5,0.5,0.5,0.5,0.25,0.75,0.25,0.25,...,1.0,0.5,0.75,0.75,0.75,0.75,0.5,0.0,1.0,1

In [3]:
data.describe()

,b1,b2,b3,b4,b5,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,class
count,60.00,60.000000,60.0,60.0,60.0,60.0,60.000000,60.000000,60.000000,60.000000,...,60.000000,60.000000,60.00,60.00,60.00,60.00,60.000000,60.000000,60.0,60.000000
mean,0.75,0.225000,0.5,0.5,0.5,0.5,0.091667,0.725000,0.225000,0.225000,...,0.666667,0.333333,0.75,0.75,0.75,0.75,0.333333,0.333333,1.0,0.583333
std,0.00,0.075633,0.0,0.0,0.0,0.0,0.121490,0.135765,0.075633,0.075633,...,0.475383,0.237691,0.00,0.00,0.00,0.00,0.237691,0.475383,0.0,0.497167
min,0.75,0.000000,0.5,0.5,0.5,0.5,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.75,0.75,0.75,0.75,0.000000,0.000000,1.0,0.000000
25%,0.75,0.250000,0.5,0.5,0.5,0.5,0.000000,0.750000,0.250000,0.250000,...,0.000000,0.000000,0.75,0.75,0.75,0.75,0.000000,0.000000,1.0,0.000000
50%,0.75,0.250000,0.5,0.5,0.5,0.5,0.000000,0.750000,0.250000,0.250000,...,1.000000,0.500000,0.75,0.75,0.75,0.75,0.500000,0.000000,1.0,1.000000
75%,0.75,0.250000,0.5,0.5,0.5,0.5,0.250000,0.750000,0.250000,0.250000,...,1.000000,0.500000,0.75,0.75,0.75,0.75,0.500000,1.000000,1.0,1.000000
max,0.75,0.250000,0.5,0.5,0.5,0.5,0.250000,0.750000,0.250000,0.250000,...,1.000000,0.500000,0.75,0.75,0.75,0.75,0.500000,1.000000,1.0,1.000000

Need to investigate origins and meaning of fen() encoding before examining further aspects of dataset

In [4]:
from sklearn import svm, decomposition

clf = svm.SVC()
y = data.pop('class')
clf.fit(data,y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [7]:
pca = decomposition.PCA()
pca.fit_transform(data)
pca_variance = pca.explained_variance_

In [19]:
print(pca.noise_variance_)

0.0