IMPORT DATA

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# import data from the generated dataset 
# generated in DataBuilding.ipnyb
data = pd.read_csv('data.csv')
data.head()

                                               input  target
0  rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
1  rnbqkbr1/pppppppp/5n2/8/8/5N2/PPPPPPPP/RNBQKB1...       0
2  rnbqkbr1/pppppppp/5n2/8/8/2N5/PPPPPPPP/R1BQKBN...       0
3  rnbqkbr1/pppppppp/5n2/8/8/N7/PPPPPPPP/R1BQKBNR...     -40
4  rnbqkbr1/pppppppp/5n2/8/8/7P/PPPPPPP1/RNBQKBNR...     -50

In [6]:
data.describe()

           target
count   60.000000
mean   -70.166667
std     29.729952
min   -110.000000
25%   -100.000000
50%    -70.000000
75%    -50.000000
max      0.000000

Need to investigate origins and meaning of fen() encoding before examining further aspects of dataset