In [1]:
from sklearn import svm
import pandas as pd
import pickle
import json

In [2]:
with open('..\\src\\svm_eval.pkl', 'rb') as file:
    model = pickle.load(file)

In [3]:
model.predict('rnbqk1r1/pppppppN/5n2/8/P7/8/1PPPPPPP/RNBQKB1R b KQq - 142 77')

NotFittedError: This SVR instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [65]:
#data = json.loads('..\\src\\history.json')
df = pd.read_csv('..\\src\\history.csv')
df.head()

                                               input  target
0  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
1  b'r1bqkb1r/pppppppp/2n2n2/8/8/7N/PPPPPPPP/RNBQ...     -90
2  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
3  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
4  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40

In [66]:

import numpy as np

def listify(enc_str):
    return np.asarray(list(enc_str.encode('utf-8')))
df['input'] = df['input'].apply(listify)

In [67]:

input_data = {}
target_data = {}
i = 0
for index, row in df.iterrows():
    input_data[i] = row['input']
    target_data[i] = row['target']
    i+=1
input_df = pd.DataFrame.from_dict(input_data, orient='index')
output_df = pd.DataFrame.from_dict(target_data, orient='index')
output_df = output_df.rename(columns={0:"target"})
proc_dat = pd.concat([input_df, output_df], axis=1, sort=False)

In [68]:
proc_dat.head()
#input_df = input_df.dropna()
#input_df.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,target
0,98,39,114,110,98,113,107,98,114,49,...,51,32,51,39,NaN,NaN,NaN,NaN,NaN,-40
1,98,39,114,49,98,113,107,98,49,114,...,32,45,32,51,32.0,51.0,39.0,NaN,NaN,-90
2,98,39,114,110,98,113,107,98,114,49,...,51,32,51,39,NaN,NaN,NaN,NaN,NaN,-40
3,98,39,114,110,98,113,107,98,114,49,...,51,32,51,39,NaN,NaN,NaN,NaN,NaN,-40
4,98,39,114,110,98,113,107,98,114,49,...,51,32,51,39,NaN,NaN,NaN,NaN,NaN,-40

In [72]:
proc_dat = proc_dat.dropna()
proc_dat.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,target
2050,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32.0,50.0,32.0,53.0,39.0,-80
2051,98,39,114,49,98,113,107,50,114,47,...,107,113,32,45,32.0,50.0,32.0,53.0,39.0,-90
2052,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32.0,50.0,32.0,53.0,39.0,-80
2053,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32.0,50.0,32.0,53.0,39.0,-80
2054,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32.0,50.0,32.0,53.0,39.0,-80

In [73]:
proc_dat.describe()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,target
count,600.0,600.0,600.0,600.0,600.0,600.0,600.0,600.000000,600.0,600.000000,...,600.000000,600.0,600.0,600.0,600.0,600.000000,600.0,600.0,600.0,600.000000
mean,98.0,39.0,114.0,49.0,98.0,113.0,107.0,74.000000,114.0,48.000000,...,94.000000,113.0,32.0,45.0,32.0,49.083333,32.0,53.0,39.0,-128.750000
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.020025,0.0,1.000834,...,13.010847,0.0,0.0,0.0,0.0,0.276616,0.0,0.0,0.0,25.444709
min,98.0,39.0,114.0,49.0,98.0,113.0,107.0,50.000000,114.0,47.000000,...,81.000000,113.0,32.0,45.0,32.0,49.000000,32.0,53.0,39.0,-160.000000
25%,98.0,39.0,114.0,49.0,98.0,113.0,107.0,50.000000,114.0,47.000000,...,81.000000,113.0,32.0,45.0,32.0,49.000000,32.0,53.0,39.0,-150.000000
50%,98.0,39.0,114.0,49.0,98.0,113.0,107.0,74.000000,114.0,48.000000,...,94.000000,113.0,32.0,45.0,32.0,49.000000,32.0,53.0,39.0,-140.000000
75%,98.0,39.0,114.0,49.0,98.0,113.0,107.0,98.000000,114.0,49.000000,...,107.000000,113.0,32.0,45.0,32.0,49.000000,32.0,53.0,39.0,-107.500000
max,98.0,39.0,114.0,49.0,98.0,113.0,107.0,98.000000,114.0,49.000000,...,107.000000,113.0,32.0,45.0,32.0,50.000000,32.0,53.0,39.0,-80.000000

In [74]:
y = proc_dat.pop('target')
model.fit(proc_dat,y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [76]:
model.score(proc_dat,y)

-0.22288339538701107

In [80]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(proc_dat)
accuracy_score(y,y_pred)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets