Since I found history.csv to be unusable (for several reasons to do with numpy, as well as bite encoding) I must generate my own testing data here, it is somewhat reduntant but will lead to easier control in further testing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chess

In [2]:
orig = pd.read_csv('..\\src\\history.csv')

In [3]:
orig.head()

                                               input  target
0  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
1  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
2  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
3  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
4  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40

In [4]:
orig.describe()

            target
count  1500.000000
mean    -70.166667
std      29.490994
min    -110.000000
25%    -100.000000
50%     -70.000000
75%     -50.000000
max       0.000000

In [5]:
df = orig.drop_duplicates()

In [6]:
def stringify(enc_str):
    return str(enc_str[2:len(enc_str)-1])

df['input'] = df['input'].apply(stringify)

C:\Users\mmitk\Anaconda3\envs\aienv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
df.head()

                                                 input  target
0    rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R...     -40
25   rnbqkbr1/pppppppp/5n2/8/8/5N2/PPPPPPPP/RNBQKB1...       0
50   rnbqkbr1/pppppppp/5n2/8/8/2N5/PPPPPPPP/R1BQKBN...       0
75   rnbqkbr1/pppppppp/5n2/8/8/N7/PPPPPPPP/R1BQKBNR...     -40
100  rnbqkbr1/pppppppp/5n2/8/8/7P/PPPPPPP1/RNBQKBNR...     -50

In [8]:
def bin_to_int(numArray):
    i = len(numArray) - 1
    sum = 0
    for num in numArray:
        if num != 0:
            sum += 2**i
        i -= 1
    return float(sum)

In [9]:
def list_to_int(list): 
      
    # Converting integer list to string list 
    s = [str(i) for i in list] 
      
    # Join list items using join() 
    res = float("".join(s)) 
      
    return(s)

In [10]:
def serialize(board):
    import numpy as np
    assert board.is_valid()

    bstate = np.zeros(64, np.uint8)
    for i in range(64):
      pp = board.piece_at(i)
      if pp is not None:
        #print(i, pp.symbol())
        bstate[i] = {"P": 1, "N": 2, "B": 3, "R": 4, "Q": 5, "K": 6, \
                     "p": 9, "n":10, "b":11, "r":12, "q":13, "k": 14}[pp.symbol()]
    if board.has_queenside_castling_rights(chess.WHITE):
      assert bstate[0] == 4
      bstate[0] = 7
    if board.has_kingside_castling_rights(chess.WHITE):
      assert bstate[7] == 4
      bstate[7] = 7
    if board.has_queenside_castling_rights(chess.BLACK):
      assert bstate[56] == 8+4
      bstate[56] = 8+7
    if board.has_kingside_castling_rights(chess.BLACK):
      assert bstate[63] == 8+4
      bstate[63] = 8+7

    if board.ep_square is not None:
      assert bstate[self.board.ep_square] == 0
      bstate[self.board.ep_square] = 8
    bstate = bstate.reshape(8,8)

    # binary state
    state = np.zeros((4,8,8), np.uint8)

    # 0-3 columns to binary
    state[0] = (bstate>>3)&1
    state[1] = (bstate>>2)&1
    state[2] = (bstate>>1)&1
    state[3] = (bstate>>0)&1
    
    new_state = np.zeros(64, np.uint8)
    #for i in range(len(bstate).size - 1)
        #new_state[i] = [np.]
    
    # 4th column is who's turn it is
    #state[4] = (board.turn*1.0)
    new_state = [np.mean(s) for s in state]
    """
    new_state
    for s in state:
        #new_num = []
        new_state.append(np.packbits(s))
        #new_state.append(list_to_int(new_num))
    """
    #return new_state
    return [new_state.flatten(),  board.turn*1.0]
    #yield board.turn*1.0

In [11]:
# to change encoded byte strings above into
# normal string format
def serialize2(board):
    val = serialize(chess.Board(board))
    return list(val)

# apply here
df['input'] = df['input'].apply(serialize2)

C:\Users\mmitk\Anaconda3\envs\aienv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df.head()

                  input  target
0    [[0.2421875], 1.0]     -40
25   [[0.2421875], 1.0]       0
50   [[0.2421875], 1.0]       0
75   [[0.2421875], 1.0]     -40
100  [[0.2421875], 1.0]     -50

Changing input column into 5 distinct feature

In [13]:
# serialize and seperate input column into 5 seperate columns
# concatenate result with target column and save back into df
df = pd.concat([df['input'].apply(pd.Series), df['target']], axis = 1)
df.head()

               0    1  target
0    [0.2421875]  1.0     -40
25   [0.2421875]  1.0       0
50   [0.2421875]  1.0       0
75   [0.2421875]  1.0     -40
100  [0.2421875]  1.0     -50

In [14]:
df = df.rename(columns = {0:'b1',1:'b2',2:'b3',3:'b4',4:'b5','target':'eval'})
df.head()

              b1   b2  eval
0    [0.2421875]  1.0   -40
25   [0.2421875]  1.0     0
50   [0.2421875]  1.0     0
75   [0.2421875]  1.0   -40
100  [0.2421875]  1.0   -50

In [15]:
df.to_csv('data.csv', index = False)

Adding random classes

In [16]:
classes = np.random.randint(2, size=len(df.index))
df['class'] = classes

In [17]:
df.pop('eval')
df.head()

              b1   b2  class
0    [0.2421875]  1.0      1
25   [0.2421875]  1.0      0
50   [0.2421875]  1.0      0
75   [0.2421875]  1.0      0
100  [0.2421875]  1.0      0

In [18]:
df.to_csv('test_data1.csv', index = False)