In [1]:
from sklearn import svm
import pandas as pd
import pickle
import json

In [4]:
with open('..\\src\\svm_eval.pkl', 'rb') as file:
    model = pickle.load(file)

FileNotFoundError: [Errno 2] No such file or directory: '..\\src\\svm_eval.pkl'

In [5]:
model.predict('rnbqk1r1/pppppppN/5n2/8/P7/8/1PPPPPPP/RNBQKB1R b KQq - 142 77')

NameError: name 'model' is not defined

In [52]:
#data = json.loads('..\\src\\history.json')
df = pd.read_csv('..\\src\\history.csv')
orig = pd.read_csv('..\\src\\history.csv')
df.head()

                                               input  target
0  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
1  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
2  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
3  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
4  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40

Encoding strings of initial dataframe (shown above)

In [59]:

import numpy as np

def listify(enc_str):
    new_str = enc_str[2:]
    return list(new_str.encode('utf-8'))
df['input'] = df['input'].apply(listify)

AttributeError: 'numpy.ndarray' object has no attribute 'encode'

In [54]:

input_data = {}
target_data = {}
i = 0
for index, row in df.iterrows():
    input_data[i] = row['input']
    target_data[i] = row['target']
    i+=1
input_df = pd.DataFrame.from_dict(input_data, orient='index')
output_df = pd.DataFrame.from_dict(target_data, orient='index')
output_df = output_df.rename(columns={0:"target"})
proc_dat = pd.concat([input_df, output_df], axis=1, sort=False)

Data After encoding strings:

In [55]:
proc_dat.head()

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,target
0,98,39,114,110,98,113,107,98,114,49,...,32,51,32,51,39,NaN,NaN,NaN,NaN,-40
1,98,39,114,110,98,113,107,98,114,49,...,32,51,32,51,39,NaN,NaN,NaN,NaN,-40
2,98,39,114,110,98,113,107,98,114,49,...,32,51,32,51,39,NaN,NaN,NaN,NaN,-40
3,98,39,114,110,98,113,107,98,114,49,...,32,51,32,51,39,NaN,NaN,NaN,NaN,-40
4,98,39,114,110,98,113,107,98,114,49,...,32,51,32,51,39,NaN,NaN,NaN,NaN,-40

In [47]:
enc = 'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB1R w KQq - 3 3'
print('Row 1 Processed: ',proc_dat.iloc[[0]])
print('Row 2 Raw: ', orig.iloc[[0]])
print('Encoded Entry 1: ', list(enc.encode('utf-8')))

Row 1 Processed:      0   1    2    3   4    5    6   7    8   9  ...  56  57  58  59  60  61  \
0  98  39  114  110  98  113  107  98  114  49  ...  32  51  32  51  39 NaN

   62  63  64  target
0 NaN NaN NaN     -40

[1 rows x 66 columns]
Row 2 Raw:                                                 input  target
0  b'rnbqkbr1/pppppppp/5n2/8/8/7N/PPPPPPPP/RNBQKB...     -40
Encoded Entry 1:  [114, 110, 98, 113, 107, 98, 114, 49, 47, 112, 112, 112, 112, 112, 112, 112, 112, 47, 53, 110, 50, 47, 56, 47, 56, 47, 55, 78, 47, 80, 80, 80, 80, 80, 80, 80, 80, 47, 82, 78, 66, 81, 75, 66, 49, 82, 32, 119, 32, 75, 81, 113, 32, 45, 32, 51, 32, 51]

In [34]:
proc_dat = proc_dat.dropna()
proc_dat.head()

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,target
550,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32,53.0,32.0,52.0,39.0,-40
551,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32,53.0,32.0,52.0,39.0,-40
552,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32,53.0,32.0,52.0,39.0,-40
553,98,39,114,49,98,113,107,98,114,49,...,81,113,32,45,32,53.0,32.0,52.0,39.0,-40
554,98,39,49,114,98,113,107,98,49,114,...,81,107,32,45,32,53.0,32.0,52.0,39.0,-40

In [35]:
proc_dat.describe()

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,target
count,600.0,600.0,600.000000,600.000000,600.0,600.0,600.0,600.0,600.000000,600.000000,...,600.0,600.000000,600.0,600.0,600.0,600.000000,600.0,600.0,600.0,600.000000
mean,98.0,39.0,81.500000,81.500000,98.0,113.0,107.0,98.0,81.500000,81.500000,...,81.0,110.000000,32.0,45.0,32.0,49.333333,32.0,52.0,39.0,-83.750000
std,0.0,0.0,32.527117,32.527117,0.0,0.0,0.0,0.0,32.527117,32.527117,...,0.0,3.002503,0.0,0.0,0.0,1.106464,0.0,0.0,0.0,24.947775
min,98.0,39.0,49.000000,49.000000,98.0,113.0,107.0,98.0,49.000000,49.000000,...,81.0,107.000000,32.0,45.0,32.0,49.000000,32.0,52.0,39.0,-110.000000
25%,98.0,39.0,49.000000,49.000000,98.0,113.0,107.0,98.0,49.000000,49.000000,...,81.0,107.000000,32.0,45.0,32.0,49.000000,32.0,52.0,39.0,-101.250000
50%,98.0,39.0,81.500000,81.500000,98.0,113.0,107.0,98.0,81.500000,81.500000,...,81.0,110.000000,32.0,45.0,32.0,49.000000,32.0,52.0,39.0,-100.000000
75%,98.0,39.0,114.000000,114.000000,98.0,113.0,107.0,98.0,114.000000,114.000000,...,81.0,113.000000,32.0,45.0,32.0,49.000000,32.0,52.0,39.0,-65.000000
max,98.0,39.0,114.000000,114.000000,98.0,113.0,107.0,98.0,114.000000,114.000000,...,81.0,113.000000,32.0,45.0,32.0,53.000000,32.0,52.0,39.0,-40.000000

In [36]:
y = proc_dat.pop('target')
model.fit(proc_dat,y)

NameError: name 'model' is not defined

In [13]:
model.score(proc_dat,y)

NameError: name 'model' is not defined

In [14]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(proc_dat)
accuracy_score(y,y_pred)

NameError: name 'model' is not defined